
  <div class="div2 card-hist">
    <div class="div-title">
      <p>Durant les 7 derniers jours</p>
    </div>

    <div class= "div-content">
        <%= render 'last_seven_days_visits' %>
    </div>
  </div>
