<div class="parent">

  <div class="div1 card-hist">
    <p>Aujourd'hui</p>
    <span>mots corrigé</span> |
    <span>images corrigées</span>
  </div>

  <div class="div2 card-hist">
    <p>Cette semaine</p>
    <span>mots corrigé</span> |
    <span>images corrigées</span>
  </div>

  <div class="div3 card-hist">
    <p>Historique</p>
    <span>sites visités</span> |
    <span>mots corrigés</span>


  </div>

</div>
