<div class="parent">

  <div class="div1 card-hist">

    <div class="div-title">
      <p>Aujourd'hui</p>
    </div>

    <div class= "div-content">
       <div class= "div-subcontent">
         <%= render 'today_visits' %>
      </div>
    </div>

  </div>

  <div class="div2 card-hist">
    <div class="div-title">
      <p>Durant les 7 derniers jours</p>
    </div>

    <div class= "div-content">
     <div class= "div-subcontent">
        <%= render 'last_seven_days_visits' %>
      </div>
    </div>

  </div>

  <div class="div3 card-hist">

    <div class="div-title">
      <p>Historique de navigation</p>
    </div>

    <div class= "div-content">
      <div class= "div-subcontent">
        <%= render 'historics' %>
      </div>
    </div>

  </div>

</div>
