<% profiles.each do |profile| %>

  <a href="#" class="card">
    <%= image_tag("lou.jpeg", class:"card__img")%>
    <span class="card__footer">
      <span>Lou</span>
      <span>High level</span>
    </span>
  <span class="card__action">
    <button class="edit-button"><i class="fa-solid fa-pen" style="color: #0d0c0c;"></i></button>
  </span>
  </a>
  </div>
  <div>
  <a href="#" class="card">
    <%= image_tag("Liam.jpeg", class:"card__img")%>
    <span class="card__footer">
      <span>Liam</span>
      <span>Medium level</span>
    </span>
  <span class="card__action">
    <button class="edit-button"><i class="fa-solid fa-pen" style="color: #0d0c0c;"></i></button>
  </span>
  </a>
  </div>
  <div>
  <a href="#" class="card">
    <%= image_tag("Lucia.jpeg", class:"card__img")%>
    <span class="card__footer">
      <span>Lucia</span>
      <span>Low level</span>
    </span>
  <span class="card__action">
    <button class="edit-button"><i class="fa-solid fa-pen" style="color: #0d0c0c;"></i></button>
  </span>
  </a>
  </div>
