
<ul>
  <% @profiles.each do |profile| %>
    <li>
      <div>
        <%= profile.nickname %> :
      </div>
      <div style='font-size: 1.3em;'>
        <%= profile.visits.week.sum(&:words_changed) %> mots
      </div>
    </li>
  <% end %>
</ul>
