
<div class="url-list">


    <p class="left">sites visités</p>
    <p class="right">mots détectés</p>
    <p class="right">date</p>


  <% @profile.visits.last(15).reverse.each do |visit| %>

      <div class="url-title left">
        <a href="<%= visit.url %>" target="_blank" class="link-url">
        <%= visit.title %>
        </a>
      </div>

      <div class="url-words right">
        <%= visit.words_changed %>
      </div>

      <div class="url-date right">
        <%= visit.date.strftime("%d-%m / %H:%M") %>
      </div>

  <% end %>
</div>
