
<div class="url-list">


    <p class="left" id="bottomline">Sites visités</p>
    <p class="right">Mots détectés</p>
    <p class="right">Date</p>


  <% @profile.visits.last(15).reverse.each do |visit| %>

      <div class="url-title left">
        <a href="<%= visit.url %>" target="_blank" class="link-url">
        <%= visit.title %>
        </a>
      </div>

      <div class="url-words right">
        <div class="url-words right">
        <%= visit.words_changed %>
          <% if visit.words_changed <= 1 %>
            mot
          <% else %>
            mots
          <% end %>
        </div>
      </div>

      <div class="url-date right">
        <%= visit.date.strftime("%d/%m - %H:%M") %>
      </div>

  <% end %>
</div>
