
<ul>
  <% @profile.visits.last(15).reverse.each do |visit| %>
    <li>
      <a href="<%= visit.url %>" target="_blank" class="link-url">
      <span> site: <%= visit.title %></span>
      </a>
      ---
      <p>mots changés: <%= visit.words_changed %></p>
      ---
      <p> le : <%= visit.date.strftime("%d/%m/%Y à %H:%M") %></p>
    </li>

      <% end %>
</ul>
