
<ul>
  <% @visits.first(10).each do |visit| %>
    <li>
   <span> site:<%= visit.url %></span> |
   <span><%= visit.words_changed %> mots modifiés</span> |
   <span> le : <%= visit.date %></span>
    </li>
  <% end %>
</ul>


  <%# <span> il y a <%= (Date.today - visit.date).to_i </span> %>
