
  <h3>Profils existants</h3>

  <div class="flex">
      <%= render 'card_profil' %>
   </div>
    <%= render 'card_historic' %>

<%# <!-- app/views/offers/show.html.erb -->
<% content_for :meta_title, "#{@offer.name} is on #{DEFAULT_META["meta_product_name"]}" %>
<%# <% content_for :meta_description, @offer.description %>
<%# <% content_for :meta_image, cl_image_path(@offer.photo.path) %>
