<div class="container">
  <div class='row'>
    <div class='column'>
      </div>
        <h3>Profils existants</h3>
      </div>
    <div class="flex">
        <div class="card-profil flex">
          <%= render 'card_profil' %>
        </div>
    </div>
</div>
