<div>
<a href="#" class="card">
  <img src="https://previews.123rf.com/images/tigatelu/tigatelu1404/tigatelu140400037/27648855-bande-dessin%C3%A9e-heureuse-d-enfant.jpg" alt="photo enfant" class="card__img">
  <span class="card__footer">
    <span>Low level</span>
    <span>3-6ans</span>
  </span>
<span class="card__action">
  <button class="edit-button">Edit</button>
</span>
</a>
</div>
<div>
<a href="#" class="card">
  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTn8HrTOtOmVB-YUkITBpK1d6_iSzvDkTrG-ldEyQa-XrxGJy-SctxotuKEfAqvpOB2EdE&usqp=CAU" alt="photo enfant" class="card__img">
  <span class="card__footer">
    <span>Medium level</span>
    <span>7-12ans</span>
  </span>
<span class="card__action">
  <button class="edit-button">Edit</button>
</span>
</a>
</div>
<div>
<a href="#" class="card">
  <img src="https://st4.depositphotos.com/1796793/21769/v/450/depositphotos_217690214-stock-illustration-cartoon-teenager-students-with-books.jpg" alt="photo enfant" class="card__img">
  <span class="card__footer">
    <span>Medium level</span>
    <span>12-18ans</span>
  </span>
<span class="card__action">
  <button class="edit-button">Edit</button>
</span>
</a>
</div>
