<div class="container2">
  <div class="banner">
    <h1>Vos enfants sont votre priorité.</h1>
    <h1>Leur sécurité sur internet est la nôtre.</h1>
    <div class="button-container">
      <a href="<%= profiles_path %>" class="join-button">
        <span class="span-pixy">P!xy</span>
        <div class="liquid"></div>
      </a>
    </div>
  </div>



  <div class="container3">
    <div class="text">
      <h2 class="text2" id="text2"><strong>S</strong>olutions</h2>
      <p class="text3">Notre extension propose trois niveaux de sécurité, du faible au élevé, afin de vous permettre de choisir le niveau de protection adapté à vos enfants. Grâce à notre approche bienveillante et axée sur l'éducation positive, vous pouvez laisser vos enfants explorer Internet en toute confiance, sachant qu'ils sont protégés des contenus inappropriés. Offrez-leur un environnement sûr et sain où ils peuvent apprendre, grandir et s'épanouir en toute sécurité.</p>
    </div>

    <div class="card-container">
      <div class="card-wrapper">
        <div class="card-low">
          <i class="fa-solid fa-shield-halved fa-bounce fa-2xl"></i>
          <h5>Faible</h5>
        </div>
        <div class="card-paragraph">
          <p>Niveau de sécurité faible pour une approche éducative.</p>
        </div>
      </div>

      <div class="card-wrapper">
        <div class="card-medium">
          <i class="fa-solid fa-shield-halved fa-bounce fa-2xl"></i>
          <h5>Modéré</h5>
        </div>
        <div class="card-paragraph">
          <p>Niveau de sécurité modéré avec remplacement des mots et informations.</p>
        </div>
      </div>

      <div class="card-wrapper">
        <div class="card-high">
          <i class="fa-solid fa-shield fa-bounce fa-2xl"></i>
          <h5>Élevé</h5>
        </div>
        <div class="card-paragraph">
          <p>Niveau de sécurité élevé avec remplacement des mots inappropriés.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container4">
  <div class="image">
    <img src="https://png.pngtree.com/background/20220721/original/pngtree-intelligent-factory-and-technological-innovation-concept-on-business-and-industrial-process-picture-image_1703611.jpg">
  </div>
</div>
