
<div class="background">
  <%= render 'navbar' %>

    <div id="text">
      <h1>Offrez à vos enfants une navigation en ligne</h1>
      <h1>saine et sécurisée grâce à <strong>Pixy</strong>.</h1>
    </div>

   <span></span>
   <span></span>
   <span></span>
   <span></span>
   <span></span>
   <span></span>
   <span></span>
   <span></span>
   <span></span>
   <span></span>
   <span></span>
   <span></span>
   <span></span>
   <span></span>
   <span></span>
   <span></span>
   <span></span>
   <span></span>
   <span></span>
   <span></span>
   <span></span>
</div>
