
.card-url {
  width: 100%;
  // height: 330px;
  background: #FFFFFF;
  color:rgba(0, 0, 0, 1);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
  padding-bottom: 12px;
}

.url-list p {
  font-size: 1em;
  font-style: bold;
  color: rgb(0, 0, 0);
  font-weight: 700;
}
.link-url {
  color: black;
  font-size: small;
}

.url-list {
  max-height: 350px; /* Définissez la hauteur maximale souhaitée pour le scroll intérieur */
  overflow-y: auto; /* Ajoutez une barre de défilement verticale lorsque le contenu dépasse la hauteur spécifiée */
}

.url-list {
  display: grid;
  grid-template-columns: 300px 1fr 1fr;
  grid-auto-rows: 1.5rem;
  gap: 8px;
  padding: 0px 20px;
  position: relative;
  margin-right: 16px;
  margin-left: 16px;
  margin-top: 18px;
  // justify-content: space-around;
}

.url-title {
  font-size: 1rem;
  color: blue;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.url-words {
  font-size: small;
  color: rgb(20, 85, 20)
}

.url-date {
  font-size: small;
}

.right {
  text-align: right;
}
.left {
  text-align: left;
}

#bottomline::after{
  content: "";
  width: calc(100% - 40px);
  height: 1px;
  background: #ededed;
  position: absolute;
  left: 20px;
  top: 1.5rem
}
