
.card {
  --blur: 12px;
  --size: 200px;
  width: var(--size);
  aspect-ratio: 4 / 3;
  position: relative;
  border-radius: 16px;
  overflow: hidden;
  color: #000;
  transform: translateZ(0);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 56px;
}
.card__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  // transform: scale(calc(1 + (var(--hover, 0) * 0.25))) rotate(calc(var(--hover, 0) * -5deg));
  // transition: transform 0.6s;
}
.card__footer {
  padding: 0 1.5rem;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: white;
  display: grid;
  grid-template-row: auto auto;
  gap: 0.5ch;
  backdrop-filter: blur(var(--blur));
  height: 30%;
  align-content: center;
}
.card__action {
  position: absolute;
  aspect-ratio: 1;
  width: calc(var(--size) * 0.15);
  bottom: 30%;
  right: 1.5rem;
  transform: translateY(50%)
    translateY(
      calc(
        (var(--size) * 0.4)
      )
    )
    translateY(calc(var(--hover, 0) * (var(--size) * -0.4)));
  display: grid;
  place-items: center;
  border-radius: 0.5rem;
  transition: transform 0.5s;
}
.card__action svg {
  aspect-ratio: 1;
  width: 50%;
}
.card__footer span:nth-of-type(1) {
  font-size: calc(var(--size) * 0.065);
}
.card__footer span:nth-of-type(2) {
  font-size: calc(var(--size) * 0.050);
}
.card:is(:hover, :focus-visible) {
  --hover: 1;
}
.edit-button {
  background-color: #F1A76B;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 50%;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.4s, transform 0.4s;
}
.edit-button:hover {
  background-color: #51C1B3;
}
.edit-button:focus {
  outline: none;
  box-shadow: 0 0 0 2px white, 0 0 0 4px #FFFFFF;
}
.edit-button:active {
  transform: scale(0.95);
}

.card-new-profile {
  --blur: 12px;
  --size: 200px;
  width: var(--size);
  aspect-ratio: 4 / 3;
  position: relative;
  border-radius: 16px;
  overflow: hidden;
  color: #000;
  background-color: #ebebeb;
  transform: translateZ(0);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 56px;
}

.card-new-profile .add-button {
  color: black;
}


.add-button:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: 0,6s;

}
