$container-max-width: 1100px;

body {
  font: 1em/1.618 Inter, sans-serif;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 0;
  color: #224;
  background-color: rgb(237, 101, 101);
  height:100%;

}

.container {
  margin-right: auto;
  margin-left: auto;
  max-width: $container-max-width;
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
}


// background-image: linear-gradient(to right bottom, #bed4f5, #a0bffc, #89a9ff, #7c90ff, #7b74ff, #8a75fe, #9777fc, #a378fb, #b89bff, #cebdff, #e5deff, #ffffff);
