/* Couleurs plus vives */
:root {
  --color-primary: white;  /* Violet */
  --color-secondary: #white;
  --color-accent: #b5838d;  /* vieux rose */
}

/* Barre de navigation */
.navbar-lewagon {
  background-color: var(--color-primary);
}

/* Contenu principal */
.dashboard {
  padding-top: 1rem;
  background-color: var(--color-secondary);
}

/* Cartes de profil */
.card-profil {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  width: 200px;
  margin: 1rem;
  padding: 1rem;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card__img {
  width: 50px;
  height: 50px;  /* Ajustement de la hauteur pour les photos */
  object-fit: cover;
  border-radius: 8px;
}

.card__footer {
  display: flex;
  flex-direction: column;  /* Changement de la direction de flex */
  align-items: flex-start;  /* Alignement à gauche */
  margin-top: 1rem;
  color: var(--color-primary);
}

.card__category {
  font-size: 0.8rem;  /* Réduction de la taille de police */
}

.card__action {
  margin-top: 1rem;
}

.edit-button {
  color: var(--color-accent);
}

/* Cartes d'informations */
.parent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
}

.div1 {
  grid-column-start: 1;
  grid-column-end: 2;
}

.div2 {
  grid-column-start: 1;
  grid-column-end: 2;
}

.div3 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}

.div-title {
  background-color: var(--color-primary);
  color: white;
  padding: 0.5rem;
}

.div-content {
  background-color: white;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.div-subcontent {
  margin-top: 1rem;
  max-height: 200px; /* Définissez la hauteur maximale souhaitée pour le scroll intérieur */
  overflow-y: auto;
}

.card-hist {
  border-radius: 10px; /* Définissez la valeur de border-radius souhaitée */
}

/* Icône de modification */
.fa-pen {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1;
  color: var(--color-primary);
}
