.navbar-lewagon {
  position: relative;
  margin: 0px auto;
  background-color: transparent;
  padding: 3em 0 16px 0px;
  width: 100%;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
  opacity: 100%;
}

.navbar-lewagon .navbar-brand:hover {
  opacity: 40%;
  transform: scale(1.2);
  transition: 0.8s;
  cursor: pointer;
}

.navbar-lewagon .avatar-round {
  object-fit: cover;
  width: 48px;
  height: 48px;

  border-radius: 50%;
  margin-right: 10px;
  opacity: 100%;
}

.navbar-lewagon .avatar-round:hover {
  opacity: 70%;
  transform: scale(1.2);
  transition: 0.8s;
  border: 2px solid #fec89a;
  cursor: pointer;
}

.nav-link {
  color: black;
}
