
.text {
  flex: 1;
  text-align: center;
  // border: solid red;
  flex-basis: 50%;
}

.text2{
  font-family: "nunito", sans-serif;
  color: rgb(0, 0, 0);
  text-align: center;
}

.text3 {
  font-family: "nunito", sans-serif;
  text-align: justify;
  margin: 32px;
}


