// .text {
//   flex: 1;
//   padding: 20px;
//   background-color: rgb(250, 250, 250);
//   border-radius: 4px;
//   // border-left: solid grey;
//   // border-right: solid grey;
//   // border-width: 1px;
// }

.text {
  flex: 1;
  text-align: center;
  // border: solid red;
  flex-basis: 50%;
}

.text2{
  margin-top: 24px;
  font-family: 'Cherry Cream Soda', cursive;
  color: rgb(0, 0, 0);
  text-align: center;
}

.text3 {
  font-family: 'Diphylleia', cursive;
  text-align: justify;
  margin: 32px;
  height: 200px;
}





// #text{
//   font-size: 3rem;
//   text-transform: uppercase;
// }
// #text:after{
//   content: "";
//   animation: clignote 0.7s infinite linear;
//   width: 2px;
//   height: 3rem;
//   display: inline-block;
//   background: rgb(14, 15, 22);;
// }
// @keyframes clignote {
//   from{
//     opacity: 0;
//   }
//   to{
//     opacity: 1;
//   }
// }
