// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

.w-6 {
  width: 2rem;
}

.h-6 {
  height: 2rem;
}

body {
  font-family: 'Arial', sans-serif;
}

h3 {
  color: rgb(69, 61, 231);
  font-size: 1.5rem;
  opacity: 100%;
  z-index: 9999;
  text-align: left;
}
